<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>gboard</display-name>
  <welcome-file-list>
    <welcome-file>login</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>MainPage</servlet-name>
    <jsp-file>/dashboard.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainPage</servlet-name>
    <url-pattern>/dashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginPage</servlet-name>
    <jsp-file>/login.jsp</jsp-file>
  </servlet>
 
  <servlet-mapping>
    <servlet-name>LoginPage</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginService</servlet-name>
    <servlet-class>edu.pitt.sis.paws.gboard.security.LoginService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginService</servlet-name>
    <url-pattern>/LoginService</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutService</servlet-name>
    <servlet-class>edu.pitt.sis.paws.gboard.security.LogoutService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutService</servlet-name>
    <url-pattern>/LogoutService</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddCourseToTheGroup</servlet-name>
    <servlet-class>edu.pitt.sis.paws.gboard.ajaxpersistors.AddCourseToTheGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCourseToTheGroup</servlet-name>
    <url-pattern>/addcoursetothegroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddExistingUsersToTheGroup</servlet-name>
    <servlet-class>edu.pitt.sis.paws.gboard.ajaxpersistors.AddExistingUsersToTheGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddExistingUsersToTheGroup</servlet-name>
    <url-pattern>/addexistinguserstothegroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddExistingUserToTheGroup</servlet-name>
    <servlet-class>edu.pitt.sis.paws.gboard.ajaxpersistors.AddExistingUserToTheGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddExistingUserToTheGroup</servlet-name>
    <url-pattern>/addexistingusertothegroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddGroup</servlet-name>
    <servlet-class>edu.pitt.sis.paws.gboard.ajaxpersistors.AddGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGroup</servlet-name>
    <url-pattern>/addgroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddNewUsersToTheGroup</servlet-name>
    <servlet-class>edu.pitt.sis.paws.gboard.ajaxpersistors.AddNewUsersToTheGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewUsersToTheGroup</servlet-name>
    <url-pattern>/addnewuserstothegroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddNewUserToTheGroup</servlet-name>
    <servlet-class>edu.pitt.sis.paws.gboard.ajaxpersistors.AddNewUserToTheGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewUserToTheGroup</servlet-name>
    <url-pattern>/addnewusertothegroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAllUsers</servlet-name>
    <servlet-class>edu.pitt.sis.paws.gboard.ajaxpersistors.GetAllUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllUsers</servlet-name>
    <url-pattern>/getallusers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetGroup</servlet-name>
    <servlet-class>edu.pitt.sis.paws.gboard.ajaxpersistors.GetGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetGroup</servlet-name>
    <url-pattern>/getgroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetGroupApps</servlet-name>
    <servlet-class>edu.pitt.sis.paws.gboard.ajaxpersistors.GetGroupApps</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetGroupApps</servlet-name>
    <url-pattern>/getgroupapps</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetGroupCourses</servlet-name>
    <servlet-class>edu.pitt.sis.paws.gboard.ajaxpersistors.GetGroupCourses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetGroupCourses</servlet-name>
    <url-pattern>/getgroupcourses</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetGroups</servlet-name>
    <servlet-class>edu.pitt.sis.paws.gboard.ajaxpersistors.GetGroups</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetGroups</servlet-name>
    <url-pattern>/getgroups</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetUserInfo</servlet-name>
    <servlet-class>edu.pitt.sis.paws.gboard.ajaxpersistors.GetUserInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserInfo</servlet-name>
    <url-pattern>/getuserinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OverridePassword</servlet-name>
    <servlet-class>edu.pitt.sis.paws.gboard.ajaxpersistors.OverridePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OverridePassword</servlet-name>
    <url-pattern>/overridepassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoveUserFromGroup</servlet-name>
    <servlet-class>edu.pitt.sis.paws.gboard.ajaxpersistors.RemoveUserFromGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveUserFromGroup</servlet-name>
    <url-pattern>/removeuserfromgroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchUser</servlet-name>
    <servlet-class>edu.pitt.sis.paws.gboard.ajaxpersistors.SearchUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchUser</servlet-name>
    <url-pattern>/searchuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateGroupApps</servlet-name>
    <servlet-class>edu.pitt.sis.paws.gboard.ajaxpersistors.UpdateGroupApps</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateGroupApps</servlet-name>
    <url-pattern>/updategroupapps</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateUserInfo</servlet-name>
    <servlet-class>edu.pitt.sis.paws.gboard.ajaxpersistors.UpdateUserInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserInfo</servlet-name>
    <url-pattern>/updateuserinfo</url-pattern>
  </servlet-mapping>
  
	<servlet>
		<servlet-name>UMRestarter</servlet-name>
		<servlet-class>edu.pitt.sis.paws.gboard.um.UMRestarter</servlet-class>
		<init-param>
			<param-name>um_restart_url</param-name>
			<param-value>http://myudelson:dataBush4@kt1.exp.sis.pitt.edu:8080/manager/reload?path=/cbum</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>UMRestarter</servlet-name>
		<url-pattern>/umrestart</url-pattern>
	</servlet-mapping>

</web-app>